* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

body {
	background-color: rgba(255,206,25,.1);
}



/* HEADER */
#Header {
	position: absolute;
	z-index: 5;
	width: 1920px;
	height: 75px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Rectangle_1 {
	fill: rgba(9,179,153,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 75px;
	left: 0px;
	top: 0px;
}

#BBB_Logo {
	left: 19px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 506px;
	height: 54px;
	line-height: 44px;
	margin-top: -2px;
	text-align: left;
	font-family: Abril Fatface;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,206,25,1);
}

#Home_Header {
	left: 1112px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 235px;
	height: 36px;
	line-height: 34px;
	margin-top: -2px;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,206,25,1);
	background-color:transparent;
}

#About {
	left: 1386px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 235px;
	height: 36px;
	line-height: 34px;
	margin-top: -2px;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,206,25,1);
	background-color:transparent;
}

#Contact {
	left: 1660px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 36px;
	line-height: 34px;
	margin-top: -2px;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,206,25,1);
	background-color:transparent;
}

#Shopping_Cart {
	left: 1850px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 45px;
	height: 36px;
	line-height: 34px;
	margin-top: -2px;
	text-align: right;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,206,25,1);
	background-color:transparent;
}

#Shopping_Cart_Counter {
	left: 1788px;
	top: -1px;
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 37px;
	line-height: 34px;
	margin-top: -2px;
	text-align: right;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,206,25,1);
}
/* HEADER */



/* HOME PAGE */
#Home {
	position: absolute;
	width: 1920.5px;
	height: 93vh;
	left: 0px;
	top: 0px;
	overflow: scroll;
}

/* hey, look at this nice comma */
#Heading, #Caramel_Heading, #Original_Heading, #Original_GF_Heading, #Pumpkin_Heading, #Walnut_Heading {
	position: absolute;
	width: 808px;
	height: 223px;
	left: 1112.5px;
	top: 111px;
	overflow: visible;
}

#Title, #Caramel_Title, #Original_Title, #Original_GF_Title, #Pumpkin_Title, #Walnut_Title {
	left: 4.5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 782px;
	height: 219px;
	line-height: 98px;
	margin-top: 12px;
	text-align: left;
	font-family: Abril Fatface;
	font-style: normal;
	font-weight: normal;
	font-size: 90px;
	color: rgba(178,18,178,1);
	text-shadow: -4px 4px rgba(255,206,25,1);
}

#Title_Small {
	left: 364.5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 782px;
	height: 219px;
	line-height: 98px;
	margin-top: 22px;
	text-align: left;
	font-family: Abril Fatface;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(178,18,178,1);
	text-shadow: -2.5px 2.5px rgba(255,206,25,1);
}

#Ruler, #Caramel_Ruler, #Original_Ruler, #Original_GF_Ruler, #Pumpkin_Ruler, #Walnut_Ruler {
	fill: transparent;
	stroke: rgba(255,206,25,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ruler {
	overflow: visible;
	position: absolute;
	width: 808px;
	height: 10px;
	left: 0px;
	top: 112.5px;
	transform: matrix(1,0,0,1,0,0);
}

#Page_Image, #Caramel_Page_Image, #Original_Page_Image, #Original_GF_Page_Image, #Pumpkin_Page_Image, #Walnut_Page_Image {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 782px;
	height: 742px;
	left: 290px;
	top: 213px;
	overflow: visible;
}

#FAB_Menu {
	left: 16px;
	top: 223px;
	position: absolute;
	overflow: visible;
	width: 235px;
	height: 280px;
	line-height: 50px;
	margin-top: -12.5px;
	text-align: right;
	font-family: Lato;
	font-style: italic;
	font-weight: normal;
	font-size: 25px;
	color: rgba(9,179,153,1);
}

#Body_Text, #Caramel_Body_Text, #Original_Body_Text, #Original_GF_Body_Text, #Pumpkin_Body_Text, #Walnut_Body_Text {
	position: absolute;
	width: 782px;
	height: 250px;
	left: 1112px;
	top: 374px;
	overflow: visible;
}

#Paragraph, #Caramel_Paragraph, #Original_Paragraph, #Original_GF_Paragraph, #Pumpkin_Paragraph, #Walnut_Paragraph {
	left: 2px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 781px;
	height: 112px;
	line-height: 38px;
	margin-top: -4px;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(178,18,178,1);
	text-shadow: -1.5px 1.5px rgb(255,206,25,1);
}

#See_flavors {
	left: 1112px;
	top: 685px;
	position: absolute;
	overflow: visible;
	width: 783px;
	height: 37px;
	line-height: 38px;
	margin-top: -4px;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,31,254,1);
}

.See_Flavors_Arrow {
	position: relative;
  	top: 12px;
  	left: 5px;
}
/* HOME PAGE */



/* FOOTER */
#Footer {
	position: absolute;
	top: 93vh;
}

#Rectangle_2 {
	fill: rgba(9,179,153,1);
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 75px;
	left: 0px;
	top: 0px;
}

#Total {
	left: 1112px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 235px;
	height: 36px;
	line-height: 34px;
	margin-top: -2px;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,206,25,1);
}

#Amount {
	left: 1386px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 235px;
	height: 36px;
	line-height: 34px;
	margin-top: -2px;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,206,25,1);
	text-decoration: underline;
}

#Checkout {
	position: absolute;
	width: 162px;
	height: 53px;
	left: 1696px;
	top: 12px;
	overflow: visible;
	line-height: 34px;
	margin-top: -2px;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(9,179,153,1);
	background-color: rgba(255,206,25,1);
	border-radius:10px;
}
/* FOOTER */



/* PRODUCT PAGES */
#Blackberry_Page {
	position: absolute;
	width: 1920.5px;
	height: 1080px;
	left: 0px;
	top: 1080px;
	overflow: visible;
}

#Caramel_Page {
	position: absolute;
	width: 1920.5px;
	height: 1080px;
	left: 0px;
	top: 2160px;
	overflow: visible;
}

#Original_Page {
	position: absolute;
	width: 1920.5px;
	height: 1080px;
	left: 0px;
	top: 3240px;
	overflow: visible;
}

#Original_GF_Page {
	position: absolute;
	width: 1920.5px;
	height: 1080px;
	left: 0px;
	top: 4320px;
	overflow: visible;
}

#Pumpkin_Page {
	position: absolute;
	width: 1920.5px;
	height: 1080px;
	left: 0px;
	top: 5400px;
	overflow: visible;
}

#Walnut_Page {
	position: absolute;
	width: 1920.5px;
	height: 1080px;
	left: 0px;
	top: 6480px;
	overflow: visible;
}
/* PRODUCT PAGES */



/* PRODUCT BUTTONS */
#Buttons_Product, #Caramel_Buttons_Product, #Original_Buttons_Product, #Original_GF_Buttons_Product, #Pumpkin_Buttons_Product, #Walnut_Buttons_Product {
	position: absolute;
	width: 508px;
	height: 249px;
	left: 1112px;
	top: 665px;
	overflow: visible;
}

.Buttons_Arrow {
	position: relative;
  	top: 12px;
  	left: -16px;
	float: right;
}

#Glazing, #Caramel_Glazing, #Original_Glazing, #Original_GF_Glazing, #Pumpkin_Glazing, #Walnut_Glazing {
	position: absolute;
	width: 508px;
	height: 53px;
	left: 0px;
	top: 0px;
	padding-left: 16px;
	overflow: visible;
	line-height: 34px;
	margin-top: -2px;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgb(255, 255, 255);
	background-color: rgba(255,31,254,1);
	border-radius:10px;
}

#Quantity, #Caramel_Quantity, #Original_Quantity, #Original_GF_Quantity, #Pumpkin_Quantity, #Walnut_Quantity {
	position: absolute;
	width: 508px;
	height: 53px;
	left: 0px;
	top: 98px;
	padding-left: 16px;
	overflow: visible;
	line-height: 34px;
	margin-top: -2px;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgb(255, 255, 255);
	background-color: rgba(255,31,254,1);
	border-radius:10px;
}

#Add_Basket, #Caramel_Add_Basket, #Original_Add_Basket, #Original_GF_Add_Basket, #Pumpkin_Add_Basket, #Walnut_Add_Basket {
	position: absolute;
	width: 234px;
	height: 53px;
	left: 0px;
	top: 196px;
	overflow: visible;
	line-height: 34px;
	margin-top: -2px;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgb(9, 179, 153);
	background-color: rgba(25,219,219,1);
	border-radius:10px;
}
/* PRODUCT BUTTONS */



/* ITEM BUBBLE */
#productBubble {
	display: none;
	position: sticky;
	width: 508px;
	height: 178px;
	left: 1390px;
	top: 75px;
	overflow: visible;
}

.bubble {
	position: absolute;
	overflow: visible;
	width: 508px;
	height: 178px;
	left: 0px;
	top: 97px;
}

#Rectangle_3 {
	fill:  rgba(254,250,233);
	stroke: rgba(255,206,24,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

#bubbleText {
	left: 20px;
	top: 117px;
	position: absolute;
	overflow: visible;
	width: 429px;
	height: 138px;
	line-height: 34px;
	margin-top: -2px;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(178,18,178,1);
}
/* ITEM BUBBLE */